

input{
    width: 300px;
}

.form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    gap:15px;
    background: linear-gradient(#edef43 , #edabee);
}

